
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE-TRACKER</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/img/favicon-16x16.png">
    <link rel="manifest" href="/web/static/img/site.webmanifest">
    <link rel="mask-icon" href="/web/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/web/static/styles.css">
  </head>
  <body>
    <div id="holder">
      <header class="header">
        <a class="header__brand" href="/" title="Home">
          <h1>GROUPIE-TRACKER</h1>
        </a>
      </header>
      <div id="body">
        <main class="main">
            <div class="main_content">
                <div>
                    <h2 class="main_error">Ooops. Error</h2>
                    <h2 class="main_error">{{.StatusCode}}</h2>
                </div>
            </div>
        </main>
    </body>
    </html>
      </div>
    </div>
    </body>
  </html>

